<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="createitem" >
  品名： <input type="text" name="name" ><br>
  價格： <input type="text" name="price" ><br>
  庫存： <input type="text" name="store" ><br>
  圖示： <input type="file" name="itempic"><br>
<input type="submit" name="submit" value="新增產品">
</form>
</body>
</html>
