<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  帳號：<input type="text" name="account">
  密碼：<input type="text" name="pwd">
  圖檔：<input type="file" name="file">
<input type="submit" name="submit" value="send">
</form>
</body>
</html>
